<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="#"><i class="fa fa-dashboard fa-fw"></i> Chấm Công <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("AtIndex","Attandance")">Bảng Chấm Công</a>
                    </li>
                    <li>
                        <a href="@Url.Action("IndexPhep","UserEvent")">Nghỉ Phép</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","UserEvent")">Công Tác</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản Lý Kho<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("WaitForUpdate","Home")">Nhập Kho</a>
                    </li>
                    <li>
                        <a href="@Url.Action("WaitForUpdate","Home")">Xuất Kho</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="@Url.Action("Index","User")"><i class="fa fa-table fa-fw"></i> Danh Sách Nhân Viên</a>
            </li>
            <li>
                <a href="@Url.Action("WaitForUpdate","Home")"><i class="fa fa-edit fa-fw"></i> Thông Tin Khách Hàng</a>
            </li>
            <li>
                <a href="@Url.Action("WaitForUpdate","Home")"><i class="fa fa-edit fa-fw"></i> Theo Dõi Tour</a>
            </li>
            <li>
                <a href="@Url.Action("WaitForUpdate","Home")"><i class="fa fa-edit fa-fw"></i> Tạo Mã Tour</a>
            </li>
            <!--<li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="panels-wells.html">Panels and Wells</a>
                    </li>
                    <li>
                        <a href="buttons.html">Buttons</a>
                    </li>
                    <li>
                        <a href="notifications.html">Notifications</a>
                    </li>
                    <li>
                        <a href="typography.html">Typography</a>
                    </li>
                    <li>
                        <a href="icons.html"> Icons</a>
                    </li>
                    <li>
                        <a href="grid.html">Grid</a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </li>-->
            <li class="active">
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Tài Khoản<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("LogOut","Account")">LogOut</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
